<div class="overlay none fixed-block" data-overlay>
  <div class="modal modal-connect" data-popup="connect">
    <div class="modal__box modal-connect__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-connect__top">
        <h2 class="modal__title modal-connect__title">
          Connect to wallet
        </h2>
        <p>By connecting a wallet, you agree to Fixswap's <a href="#" class="transparent-text">Terms of Use</a></p>
      </div>

      <ul class="connect-list">
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img1.svg" alt="image" width="30" height="30">
            Metamask
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img2.svg" alt="image" width="30" height="30">
            TrustWallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img3.svg" alt="image" width="30" height="30">
            WalletConnect
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img4.svg" alt="image" width="30" height="30">
            Brave Wallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img5.svg" alt="image" width="30" height="30">
            TokenPocket
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img6.svg" alt="image" width="30" height="30">
            MathWallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img7.svg" alt="image" width="30" height="30">
            Coin98
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img8.svg" alt="image" width="30" height="30">
            Binance Chain
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img9.svg" alt="image" width="30" height="30">
            Coinbase Wallet
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal modal-wallet" data-popup="wallet">
    <div class="modal__box modal-wallet__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-wallet__top">
        <h2 class="modal__title modal-wallet__title">
          You wallet
        </h2>
      </div>

      <div class="modal-wallet__inner">
        <span class="modal-wallet__result">
          <b class="green-text">Connected</b></span>
        <span class="modal-wallet__value">0x04cc33A71667fB92F25b14ca8bD21aA1907BB233</span>
        <div class="modal-wallet__content">
          <a href="#" class="vertical-card__acc-link">
            Copy adress
            <svg width="17" height="17">
              <use href="img/sprite/sprite.svg#arrow-link"></use>
            </svg>
          </a>
          <a href="#" class="vertical-card__acc-link">
            View on BscScan
            <svg width="17" height="17">
              <use href="img/sprite/sprite.svg#arrow-link"></use>
            </svg>
          </a>
        </div>


      </div>

      <button class="modal-wallet__btn">
        Logout
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#main-arrow'></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="modal modal-farming" data-popup="farming">
    <div class="modal__box modal-farming__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-farming__top">
        <h2 class="modal__title modal-farming__title">
          Unstake LP Tokens
        </h2>
      </div>

      <div class="modal-farming__inner">
        <ul class="modal-farming__list">
          <li class="modal-farming__item">
            <span class="modal-farming__name">Unstake</span>
            <span class="modal-farming__name">Balance:0.255894545</span>
          </li>
          <li class="modal-farming__item">
            <span class="modal-farming__value">0</span>
            <span class="modal-farming__name">BNB-BUSDT
              <button class="modal-farming__max">Max</button>
            </span>
          </li>
        </ul>

        <div class="modal-farming__content">
          <button class="modal-farming__btn--mode modal-farming__btn">Cancel</button>
          <button class="modal-farming__btn">
            Confirm
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#main-arrow'></use>
            </svg>
          </button>
        </div>

      </div>

    </div>
  </div>

  <div class="modal modal-roi" data-popup="roi">
    <div class="modal__box modal-roi__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-roi__top">
        <h2 class="modal__title modal-roi__title">
          ROI
        </h2>
        <p>Calculated based on current rates. Rates are estimates provided for your convenience only, and by no means
          represent guaranteed returns.</p>
      </div>

      <div class="modal-roi__inner">
        <ul class="modal-roi__list">
          <li class="modal-roi__item--thead modal-roi__item">
            <span class="modal-roi__name">Timeframe</span>
            <span class="modal-roi__name">ROI</span>
            <span class="modal-roi__name">FLS per $ 1000</span>
          </li>
          <li class="modal-roi__item--mode modal-roi__item">
            <span class="modal-roi__value">1d</span>
            <span class="modal-roi__value">0,07%</span>
            <span class="modal-roi__value">3.21</span>
          </li>
          <li class="modal-roi__item">
            <span class="modal-roi__value">7d</span>
            <span class="modal-roi__value">0,07%</span>
            <span class="modal-roi__value">3.21</span>
          </li>
          <li class="modal-roi__item--mode modal-roi__item">
            <span class="modal-roi__value">30d</span>
            <span class="modal-roi__value">0,07%</span>
            <span class="modal-roi__value">3.21</span>
          </li>
          <li class="modal-roi__item">
            <span class="modal-roi__value">365d</span>
            <span class="modal-roi__value">0,07%</span>
            <span class="modal-roi__value">3.21</span>
          </li>
        </ul>

      </div>

    </div>
  </div>

  <div class="modal modal-back" data-popup="back">
    <div class="modal__box modal-back__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-back__top">
        <button class="modal-back__btn" data-btn-inner="connect">
          <svg width="31" height="22">
            <use href='img/sprite/sprite.svg#arrow-back'></use>
          </svg>
        </button>
        <h2 class="modal__title modal-back__title">
          Back to wallets
        </h2>
      </div>

      <div class="modal-back__inner">
          <div class="modal-back__img">
            <img src="/img/sprite/open.svg" alt="logo">
          </div>
          <span class="modal-back__subtitle">Opening Metamask</span>
          <p>Please confirm in Metamask</p>
      </div>

    </div>
  </div>

  <div class="modal modal-welcome" data-popup="welcome">
    <div class="modal__box modal-welcome__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal-welcome__top">
        <div class="modal-welcome__img modal-welcome__img--mode">
          <img src="/img/community/coin2.png" alt="logo">
        </div>
        <div class="modal-welcome__img modal-welcome__img--middle">
          <img src="/img/sprite/wait.svg" alt="logo">
        </div>
        <div class="modal-welcome__img modal-welcome__img--coin">
          <img src="/img/community/coin1.png" alt="logo">
        </div>
      </div>

      <div class="modal-welcome__middle">
        <h2 class="modal__title modal-welcome__title">
          Welcome to Flixswap!
        </h2>
        <p>Decentralized finance (DeFi) projects aim to create a financial system that operates on a decentralized, open-source, and permissionless blockchain network. DeFi protocols offer a range of financial services, including borrowing and lending, trading, asset management, insurance, and more</p>
      </div>
      <div class="modal-welcome__inner">
          <span class="modal-welcome__subtitle">Our community:</span>
          <ul class="modal-welcome__list">
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/twitter.svg" alt="twitter">
              </a>
            </li>
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/telegram.svg" alt="telegram">
              </a>
            </li>
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/youtube.svg" alt="youtube">
              </a>
            </li>
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/img.svg" alt="youtube">
              </a>
            </li>
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/facebook.svg" alt="facebook">
              </a>
            </li>
            <li class="modal-welcome__item">
              <a class="modal-welcome__link" href="#">
                <img src="/img/community/instagram.svg" alt="instagram">
              </a>
            </li>
          </ul>
        </div>

    </div>
  </div>

  <div class="modal modal-offers" data-popup="offers">
    <div class="modal__box modal-offers__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal__top modal-offers__top">
        <h2 class="modal__title modal-offers__title">
          <img src="/img/sprite/fire1.svg" alt="logo">
          Hot offers
        </h2>
        <p>Stake LP tokens to Earn more tokens!</p>
      </div>
      <div class="modal-offers__inner">
        <div class="modal-offers__wrapper">
          <span class="modal-offers__subtitle">Hot Pairs:</span>
          <ul class="pairs-list">
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon3.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon5.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon4.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon3.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-offers__wrapper">
          <span class="modal-offers__subtitle">Top Pairs:</span>
          <ul class="pairs-list">
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon3.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon5.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon4.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
            <li class="pairs-list__item">
              <div class="pairs-list__box">
                <div class="pairs-list__icon">
                  <img width='30' height='30' src="img/valute/icon.svg" alt="icon">
                </div>
                <div class="pairs-list__icon pairs-list__icon--mode">
                  <img width='30' height='30' src="img/valute/icon3.svg" alt="icon">
                </div>
                <span class="pairs-list__valute">TWT-BNB</span>
              </div>
              <div class="pairs-list__inner">
                  <span class="pairs-list__value">APY <span class="yellow-text">30.95%</span></span>
                  <button class="pairs-list__btn">Stake</button>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="modal modal-calc" data-popup="calc">
    <div class="modal__box modal-calc__box" role="dialog" aria-modal="true">
      <button class="close modal-calc__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#arrow-l'></use>
        </svg>
      </button>
        <h2 class="modal__title modal-calc__title">ROI Calculator</h2>
      <div class="modal-calc__top">
          <div class="modal-calc__coll">
            <span class="modal-calc__value">
              BSW Staked
            </span>
            <button data-btn-inner="token" class="modal-calc__button">
              <img width='28' height='28' src="/img/token/icon3.svg" alt="image">
              BSW
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#arrow-bottom'></use>
              </svg>
            </button>
            <span class="modal-calc__value">
              BSW
            </span>
          </div>
          <div class="modal-calc__coll modal-calc__coll--mode">
            <span class="modal-calc__value">
              Balance: 110 000 <button class="modal-max">Max</button>
            </span>
            <span class="modal-calc__button">
              1000
            </span>
            <span class="modal-calc__value">
              ~2833.24
            </span>
          </div>
      
      </div>
      <div class="modal-calc__middle">
        <span class="modal-calc__value">
          Staked for:
        </span> 
        <ul class="staked-list">
          <li class="staked-list__item active">
            <a href="#" class="staked-list__value">1D</a>
          </li>
          <li class="staked-list__item">
            <a href="#" class="staked-list__value">2D</a>
          </li>
          <li class="staked-list__item">
            <a href="#" class="staked-list__value">30D</a>
          </li>
          <li class="staked-list__item">
            <a href="#" class="staked-list__value">1Y</a>
          </li>
          <li class="staked-list__item">
            <a href="#" class="staked-list__value">5Y</a>
          </li>
        </ul>
      </div>
      <div class="modal-calc__bottom">
        <div class="modal-calc__wrapper">
          <span class="modal-calc__value">
            Staked for:
          </span> 
          <span class="modal-calc__button">$ 2196.21</span>
          <span class="modal-calc__value">
            ~ 543.064 CAKE (22.16%)
          </span> 
        </div>
        <div class="modal-calc__percent">
          <svg width="25" height="25">
            <use href='img/sprite/sprite.svg#calc'></use>
          </svg>
          <span class="modal-calc__button">APR: <span class="green-text">31.11%</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal inner-modal" data-popup="token">
    <div class="modal__box inner-modal__box" role="dialog" aria-modal="true">
      <h2 class="inner-modal__title">
        Selec a token
        <button class="close">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#arrow-l'></use>
          </svg>
        </button>
      </h2>

      <ul class="inner-modal__list">
        <li class="inner-modal__list-item">
          <form action="#" class="search-form">
            <label for="#" class="search-form__label">
              <button class="search-form__btn">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#search'></use>
                </svg>
              </button>
              <input type="text" class="search-form__input" placeholder="Search by name or paste address">
            </label>
          </form>

          <ul class="token-list">
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon.svg" alt="icon">
                BNB
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon2.svg" alt="icon">
                USDT
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon3.svg" alt="icon">
                BSW
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon4.svg" alt="icon">
                TRX
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon.svg" alt="icon">
                BNB
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon2.svg" alt="icon">
                USDT
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon3.svg" alt="icon">
                BSW
              </button>
            </li>
            <li class="token-list__item">
              <button class="token-list__btn">
                <img width="24" height="24" src="img/token/icon4.svg" alt="icon">
                TRX
              </button>
            </li>
          </ul>

        </li>

        <li class="inner-modal__list-item">
          <ul class="coin-list">
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon5.svg" alt="icon">
                Tether
              </button>
              <span class="coin-list__value">
                10 998,00
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon6.svg" alt="icon">
                ETH
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon7.svg" alt="icon">
                CAKE
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon4.svg" alt="icon">
                TRX
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon.svg" alt="icon">
                BTC
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon4.svg" alt="icon">
                TRX
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
            <li class="coin-list__item">
              <button class="coin-list__btn">
                <img width="35" height="35" src="img/token/icon.svg" alt="icon">
                BTC
              </button>
              <span class="coin-list__value">
                0
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal modal-alert" data-popup="alert">
    <div class="modal__box modal-alert__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-alert__top">
        <button class="modal-alert__btn" data-btn-inner="connect">
          <svg width="31" height="22">
            <use href='img/sprite/sprite.svg#arrow-back'></use>
          </svg>
        </button>
        <h2 class="modal__title modal-alert__title">
          Back to wallets
        </h2>
      </div>

      <div class="modal-alert__inner">
          <div class="modal-alert__img">
            <img src="/img/sprite/alert.svg" alt="logo" width="94" height="94">
          </div>
          <span class="modal-alert__subtitle">Your wallets is not connected</span>
          <p>Please try connecting your wallet again</p>
      </div>

    </div>
  </div>

  <div class="modal modal-error" data-popup="error">
    <div class="modal__box modal-error__box" role="dialog" aria-modal="true">
      <div class="modal__top modal-error__top">
        <h2 class="modal__title modal-error__title">
          Transaction submitted
        </h2>
      </div>
      
      <div class="modal-error__inner">
          <div class="modal-error__img">
            <img src="/img/sprite/error.svg" alt="logo" width="138" height="138">
          </div>
          <p>Swap failed</p>
          <button class="modal-error__btn close">Dismiss</button>
      </div>

    </div>
  </div>
</div>
