.footer-list{
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
    width: 100%;
    max-width: 212px;
    overflow-x: auto;

    @include ios{
        max-width: 100%;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(var(--cl-f),1.0);
        white-space: nowrap;
    }

    &__value{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(var(--cl-a),1.0);
        white-space: nowrap;
    }
}