.main-graffic{
    height: clamp(334px, 37.436vw, 438px);
   
   background-color: rgba(var(--bm-e),1.0);
    border-radius: 12px;


    display: flex;
    flex-direction: column;
    position: relative;

    &::before{
        position: absolute;
        content: '';
        background: linear-gradient(154.37deg, rgba(104, 102, 246, 0.35) 18.97%, rgba(104, 102, 246, 0) 82.76%);
        inset: 0;
        border-radius: 12px;
        z-index: 0;
    }

    &__pic{
        position: absolute;
        bottom: 24px;
        right: 25px;

        @include small-tablet{
            bottom: 10px;
        }

        @include ios{
            bottom: 40px;
        }
    }


    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(10px, 1.282vw, 15px);
        padding: clamp(20px, 3.077vw, 36px) clamp(20px, 2.991vw, 35px);
        z-index: 2;
    }

    &__name{
        font-family: var(--font-family3);
        font-style: normal;
        font-weight: 600;
        font-size: clamp(20px, 1.795vw, 21px);
        line-height: 100%;
        color: rgba(var(--cl-f),1.0);
    }

    &__value{
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 32px;
        color: rgba(var(--cl-a),1.0);
    }

    &__date{
        font-family: var(--font-family3);
        font-style: normal;
        font-weight: 600;
        font-size: clamp(14px, 1.368vw, 16px);
        line-height: 120%;
        color: rgba(var(--cl-f),1.0);
    }
}