.modal-submit{
    max-width: 462px;
    width: 90vw;
    padding: clamp(17px, 3.162vw, 37px) clamp(35px, 5.983vw, 70px) clamp(44px, 7.607vw, 89px);
    background: rgba(var(--bg-p),1.0);
    border-radius: 20px;

    &::before{
        position: absolute;
        content: '';
        height: 176px;
        width: 100%;
        background: linear-gradient(180deg, #6866F6 0%, rgba(104, 102, 246, 0) 100%);
        opacity: 0.65;
        top: 0;
        left: 0;
        border-radius: 20px 20px 0px 0px;
    }
    
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 35px;
    }
    &__title{
        font-family:  var(--font-family2);
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 32px;
        color: rgba(var(--cl-a),1.0);
        width: 100%;
        text-align: center;
    }
 
    &__top{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 15px;
    }
    &__link{
        padding-bottom: 11px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: rgba(var(--cl-p),1.0);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        &::before{
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none'%3E%3Cpath stroke='%232282F3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m17.167 7.638-9.9 9.9M10.217 7.588l6.95.049.05 6.95'/%3E%3C/svg%3E");
            width: 25px;
            height: 25px;
        }
    }
    &__btn{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(var(--cl-e),1.0);
        border: solid 1px var(--br-c);
        border-radius: 16px;
        min-height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;

        &:hover{
            background: rgba(var(--bg-e), 1);
            box-shadow: 0px 6px 10px rgb(104 102 246 / 25%);
            color: rgba(var(--cl-c), 1) !important;
        }
    }
}