.pools-table {
  display: flex;
  flex-direction: column;
 
 
//   @include mobile {
//     padding: 40px 18px;
//   }

//   &--mode {
//     .referral-table__list-row,
//     .referral-table__head {
//       grid-template-columns: .8fr 1.3fr 1fr 1fr .4fr;

//       @include small-tablet {
//         grid-template-columns: 100%;
//       }
//     }

//     .referral-table__list-value:last-child {
//       text-align: right;
//     }
//   }

  &__head {
    // padding: 0px 40px 22px 30px;
    padding: 0px 27px 30px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr repeat(4, 1fr) 0.5fr;
    grid-gap: 20px;

    @include tablet{
        // grid-template-columns: 0.2fr 1fr repeat(4, 0.3fr) 0.3fr;
        grid-template-columns: 0.2fr 1fr repeat(3, 0.5fr);

        :nth-child(5), :nth-child(6){
          display: none;
        }
      }

    @include small-tablet{
       
        grid-template-columns: 0.2fr 1fr repeat(2, 0.5fr);
        padding: 0px 30px 30px;

        :nth-child(3){
          display: none;
        }
    }

    @include mobile{
 grid-template-columns: 2fr 1fr;
    }

    &-title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: rgba(var(--cl-f),1.0);

      &:last-child {
        text-align: right;
      }

      @include mobile {
        &:not(:nth-child(2), :last-child) {
          display: none;
          }

          &:nth-child(3){
            text-align: start;
          }
      }
    }

    &.tokens{
      @include tablet{
        grid-template-columns: 0.2fr 1fr repeat(3, 0.4fr);

        :nth-child(4){
          display: none;
        }
      }

    @include small-tablet{
        grid-template-columns: 0.2fr 1fr repeat(2, 0.5fr);
        padding: 0px 30px 30px;

        :nth-child(6){
          display: none;
        }
    }

    @include mobile{
    grid-template-columns: 2fr 1fr;

    }

    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    @include small-tablet {
      grid-gap: 40px;
    }

    &-inner{
        display: flex;
        align-items: center;
        grid-gap: clamp(5px, 1.709vw, 20px);
        width: 100%;
        font-style: normal;
        font-family: var(--font-family2);
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: rgba(var(--cl-a),1.0);

        b{
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(var(--cl-f),1.0);

            @include small-tablet{
                display: none;
            }
        }

        &--mode{
            grid-gap: 10px;
        }
    }

    &-value {
        font-style: normal;
          font-family: var(--font-family2);
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: rgba(var(--cl-a),1.0);
  
           @include small-tablet {
  
          // &:not(:nth-child(2), :nth-child(3)) {
          //   display: none;
          //   }
  
          //   &:nth-child(3){
          //     text-align: right;
          //   }
        }
  
        &:last-child{
          
          text-align: end;
        }
  
        svg{
          fill: transparent;
        }
      }

    &-row {
      padding: 16px 30px;
      display: grid;
      grid-template-columns: 0.5fr 1.5fr repeat(4, 1fr) 0.5fr;
      grid-gap: 14px;
      border-radius: 12px;
      align-items: center;
      transition: all 1s;
      @include tablet{
        grid-template-columns: 0.2fr 1fr repeat(3, 0.5fr);

        :nth-child(5), :nth-child(6){
          display: none;
        }
      }

      @include small-tablet{
        grid-template-columns: 0.2fr 1fr repeat(2, 0.5fr);
        :nth-child(3){
          display: none;
        }
      }

      @include mobile{
        grid-template-columns: 2fr 1fr;
       :nth-child(1),:nth-child(4){
        display: none;
       }

       .pools-table__list-inner{
        img,picture{
          display: block;
        }
       }
      }

    

      &:hover{
        background: linear-gradient(90deg, #24295E 0%, rgba(36, 41, 94, 0) 108.36%);
      }

      &.tokens{
        @include tablet{
          grid-template-columns: 0.2fr 1fr repeat(3, 0.4fr);
  
          :nth-child(4){
            display: none;
          }
        }
  
        @include small-tablet{
          grid-template-columns: 0.2fr 1fr repeat(2, 0.5fr);
          :nth-child(6){
            display: none;
          }
        }
  
        @include mobile{
          grid-template-columns: 2fr 1fr;
               :not(:nth-child(2), :last-child) {
              display: none;
              }
        }

      }
    }

   
  }


  .pagination{
    display: flex;
    flex-direction: row;

    @include small-tablet{
        margin: 14px auto 0;
    }
  }
}
